app:
  scheduler:
    enable: true
    interval: 7s
    force-check-delay: 10s
  url_client:
      stackoverflow_default_url: https://api.stackexchange.com/2.3/
      github_default_url: https://api.github.com/
      bot_default_url: http://localhost:8090


spring:
  application:
    name: scrapper
  datasource:
      url: jdbc:postgresql://postgresql:5437/scrapper
      username: ${APP_POSTGRES_USERNAME}
      password: ${APP_POSTGRES_PASSWORD}

springdoc:
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8080

logging:
  config: classpath:log4j2-plain.xml
