app:
  scheduler:
    enable: true
    interval: 30s
    force-check-delay: 10s
  url_client:
      stackoverflow_default_url: https://api.stackexchange.com/2.3/
      github_default_url: https://api.github.com/
      bot_default_url: http://localhost:8090
  database-access-type: jdbc

spring:
  application:
    name: scrapper
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  datasource:
      url: jdbc:postgresql://localhost:5437/scrapper
      username: postgres
      password: postgres

springdoc:
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8080

logging:
  config: classpath:log4j2-plain.xml
