app:
  telegram-token: ${APP_TELEGRAM_TOKEN}
  url_client:
    scrapper_default_url: http://localhost:8080

spring:
  application:
    name: bot
  jackson:
    time-zone: UTC

springdoc:
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    jmx:
      exposure:
        include: health,info

server:
  port: 8090

logging:
  config: classpath:log4j2-plain.xml
